<button
  *ngIf="variant === 'primary'"
  class="flex justify-between items-center w-40 h-12 bg-primary-800 text-white font-bold rounded-3xl hover:bg-primary-500"
>
  <div
    class="w-8 h-8 pt-1-25 ml-2 text-xl bg-white text-primary-800 rounded-full"
  >
    +
  </div>
  <span class="mr-4">
    {{ label }}
  </span>
</button>

<button
  *ngIf="variant === 'secondary'"
  class="w-36 h-12 bg-primary-800 text-white font-bold rounded-3xl hover:bg-primary-500"
>
  {{ label }}
</button>

<button
  *ngIf="variant === 'tertiary'"
  class="w-20 h-12 bg-light-secondary text-brand-blue-800 font-bold rounded-3xl hover:bg-brand-blue-300 dark:bg-secondary-700 dark:text-brand-blue-300 dark:hover:bg-light dark:hover:text-brand-blue-300"
>
  {{ label }}
</button>

<button
  *ngIf="variant === 'quaternary'"
  class="w-40 h-12 bg-secondary-700 text-brand-blue-800 font-bold rounded-3xl hover:text-brand-blue-300 dark:bg-dark-900 dark:hover:bg-dark-800"
>
  {{ label }}
</button>

<button
  *ngIf="variant === 'quinary'"
  class="w-24 h-12 bg-tertiary-800 text-white font-bold rounded-3xl hover:bg-tertiary-300"
>
  {{ label }}
</button>

<button
  *ngIf="variant === 'senary'"
  class="w-full h-12 bg-light-secondary text-brand-blue-800 font-bold rounded-3xl hover:bg-brand-blue-300"
>
  {{ label }}
</button>
