<label *ngIf="label" class="block pb-2 text-brand-blue-800">{{ label }}</label>

<div class="w-full">
  <div
    class="flex justify-between items-center w-full h-14 px-6 border-2 bg-white border-brand-blue-300 rounded-md cursor-pointer focus::outline-none focus::ring-0 focus:border-primary-500"
    (click)="toggleDropdown()"
  >
    <span class="text-xl text-dark-900 font-bold">{{
      selectedOption.label
    }}</span>
    <i class="fa-solid fa-angle-down text-xl text-primary-800"></i>
  </div>

  <div *ngIf="isDropdownOpen" class="w-full mt-6 bg-white rounded-xl shadow-xl">
    <div
      *ngFor="let option of options"
      class="flex items-center w-full h-14 px-6 border-b-2 border-brand-blue-300 text-xl text-dark-900 font-bold cursor-pointer hover:text-primary-800"
      (click)="changeSelectedOption(option)"
      (click)="toggleDropdown()"
    >
      {{ option.label }}
    </div>
  </div>
</div>
