<div class="w-screen h-screen bg-light dark:bg-dark-800">
  <shared-sidebar [darkMode]="darkMode" />

  <!-- <shared-text-field label="Street Address" inputType="text" /> -->

  <!-- <shared-dropdown
    label="Payment Terms"
    [options]="[
      {
        value: '1-day',
        label: 'Net 1 Day'
      },
      {
        value: '7-days',
        label: 'Net 7 Days'
      },
      {
        value: '14-days',
        label: 'Net 14 Days'
      },
      {
        value: '30-days',
        label: 'Net 30 Days'
      }
    ]"
  ></shared-dropdown> -->

  <!-- <router-outlet></router-outlet> -->
</div>
